diffusers 
gradio
numba
imageio-ffmpeg
transformers
torchvision
opencv-python
einops
matplotlib
timm
av
basicsr
transformers
opencv-contrib-python
einops
matplotlib
accelerate
xformers
controlnet-aux==0.0.7
